/Fluid-HTN/obj
/Fluid-HTN/bin
/.vs/Fluid-HTN/v16/*.suo
/.vs/Fluid-HTN/v16/Server/sqlite3/*.lock
/.vs/Fluid-HTN/v16/Server/sqlite3/*.ide
/.vs/Fluid-HTN/v16/Server/sqlite3/*.ide-shm
/.vs/Fluid-HTN/v16/Server/sqlite3/*.ide-wal
